<html>
    <head>
        <title>Edit Stock</title>
        <link rel="stylesheet" href="/public/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=VT323&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include('../partials/navbar.ejs', {links}) %>
        <div class="stockForm">
            <h1>Edit Stock Entry</h1>
            <%- include("../partials/errors") %>
            <form method="POST" action="/stockEditForm/<%= stock.id %>" id="editStockForm">
                <label for="productTitle">Product Title</label>
                <input type="text" name="productTitle" value= "<%= stock.title %>" >
                <label for="productDesc">Product Description</label>
                <textarea name="productDesc" id="productDesc"><%= stock.description %></textarea>

                <label for="productCategory">Product Category</label>
                <select name="productCategory" id="productCategory" selected="<%= stock.category %>">
                <% categories.forEach((category) => { %>
                    <%- include('../categoryPages/categoryOptionsEdit', {category}); %>
                <% }); %>
                </select>

                <label for="productPrice">Product Price</label>
                <input type="number" name="productPrice" value= "<%= stock.price %>">
                <label for="productQuantity">Product Quantity</label>
                <input type="number" name="productQuantity" value= "<%= stock.quantity %>">
                <label for="productBrand">Product Brand</label>
                <input type="text" name="productBrand" value= "<%= stock.brand %>">
                <button type="submit">Update Stock</button>
            </form>
            <a href="/">
                <button type="button">Back</button>
            </a>
        </div>
    </body>
</html>